<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<import resource="classpath*:/applicationContext-services.xml" />
	<import resource="classpath*:/applicationContext-jira.xml" />

	<context:annotation-config />
	<context:property-placeholder location="timetool.properties" />

	<!-- application -->

	<context:component-scan base-package="de.tbosch.tools.timetool.controller" />

	<bean id="timetoolThread" class="de.tbosch.tools.timetool.TimetoolThread" />
	<bean id="imageIconAktiv" class="javax.swing.ImageIcon">
		<constructor-arg type="java.net.URL" value="classpath:/${image.aktiv}" />
	</bean>
	<bean id="imageIconInaktiv" class="javax.swing.ImageIcon">
		<constructor-arg type="java.net.URL" value="classpath:/${image.inaktiv}" />
	</bean>
	<bean id="imageAktiv" factory-bean="imageIconAktiv"
		factory-method="getImage" />
	<bean id="imageInaktiv" factory-bean="imageIconInaktiv"
		factory-method="getImage" />
	<bean id="trayIcon" class="de.tbosch.tools.timetool.gui.JXTrayIcon"
		destroy-method="dispose">
		<constructor-arg ref="imageInaktiv" />
	</bean>

	<bean id="iconTimer"
		class="org.springframework.scheduling.concurrent.ScheduledExecutorFactoryBean">
		<property name="scheduledExecutorTasks">
			<list>
				<bean
					class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">
					<property name="delay" value="${iconTimer.delay}" />
					<property name="period" value="${iconTimer.period}" />
					<property name="runnable">
						<bean class="de.tbosch.tools.timetool.utils.timer.IconTimerTask" />
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- resources -->

	<bean id="resourceBundleMessageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames" value="messages,version" />
	</bean>

</beans>
